$shadow-color: #FDFA69;
$decoration-color: #4CEEA7;
$black: #2C2C2C;
$white: #FAFAFA;
$off-white: #EFFDF3;
$main-font: "Roboto", sans-serif;
$heading-font: "Playfair Display", serif;

@import "setup";
@import "typography";

